* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100vh;
  width: 100%;
}

.containermain {
  height : 100vh;
  width: 100%;
  display: flex;
}

.main-left {
  width: 20%;
  background-color: rgb(6, 104, 104);;

}

.main-right {
  width: 80%;
  background-color: #2d3137;
  height: 100vh;
  overflow-y: auto;
  /* padding-top: 5rem; */
}

.scrollNone::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}