* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100vh;
  width: 100%;
}

.container {
  height : 100vh;
  width: 100%;
  display: flex;
}

.main-left {
  width: 20%;
  background-color: rgb(6, 104, 104);;

}

.main-right {
  width: 80%;
  background-color: rgb(58, 55, 55);
}