

.UpdateCardContainer{
  
    color: white;
    height: 400px;
    width: 300px;
   
}

.imgofartist {
    height :90%;
   
    
}

.imgofartist img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 3px;
    border-radius: 10px;
}

.updatebtns {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 6px;
    
}

.updatebtns button {
    padding: 8px;
    font-size: medium;
    border-radius: 6px;
    height: 100%;
    width: 50%;
}