.artistcards {
    height: 100%;
    width: 200px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.artistcards img {
    height: 150px;
    border-radius: 50%;
    width: 150px;
    margin-bottom: 20px;
    object-fit: cover;
}