.artistcards {
  height: 280px;
  min-width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transition: transform 0.7s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  border: 2px solid transparent;
  gap: 0px;
}

.artistcards:hover {
  background-color: rgba(5, 5, 5, 0.227); /* Add slightly transparent background */
  border-radius: 10px;
}

.artistcards img {
  height: 210px;
  border-radius: 50%;
  width: 210px;
  margin-bottom: 8px;
  object-fit: cover;
  transition: transform 300ms ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.453);
}

/* Add hover effect for zoom out */
.artistcards img:hover {
  transform: scale(1.01); /* Zoom out slightly */
}


.artistcards h5 {
  font-size: large;
  font-weight: 100;
}
