.artistcards {
  height: 250px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transition: transform 0.7s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  border: 2px solid transparent;
  gap: 0px;
}

.artistcards img {
  height: 150px;
  border-radius: 50%;
  width: 150px;
  margin-bottom: 20px;
  object-fit: cover;
  transition: transform 300ms ease-in-out;
}

.artistcards:hover {
  background-color: rgba(31, 18, 18, 0.252);
  /* border: 0.1px solid rgba(255, 255, 255, 0.127); */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.artistcards img {
  transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.453);
}

.artistcards img:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Slightly stronger shadow on hover */
}

.artistcards h5 {
  font-size: large;
  font-weight: 100;
}
