.ArtistRow {
    /* height : 250px; */
    width: 100%;
   padding: 20px;
}

.headingForArtist {
    color : white;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    align-items: center;
}

.headingForArtist h2 {
    padding-left: 10px;
    font-size: xx-large;
}

.arrows {
    padding-right: 20px;
    font-size: larger;
    display: flex;
    gap:20px;
}


.ArtistProfile {
   padding-left: 20px;
    margin-top: 20px;
    height: 78%;
}

.ArtistProfile {
    display: flex;
    
}


